[Unit]
Description=Create directory as rno-g user

[Service]
ExecStart=/usr/bin/install -o rno-g -d %I
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

