[Unit]
Description=Record GNSS data
After=gpsd.service rno-g-create-dir@-data-gps.service
Requires=gpsd.service

[Service]
ExecStartPre=/bin/sleep 3
ExecStart=/rno-g/bin/rno-g-record-gps.sh
RestartSec=3

[Install]
WantedBy=multi-user.target
