[Unit]
Description=Record GNSS data
After=gpsd.service create-rno-g-dir@-data-gps.service
Requires=gpsd.service create-rno-g-dir@-data-gps.service

[Service]
ExecStartPre=/bin/sleep 3
ExecStart=/rno-g/bin/rno-g-record-gps
RestartSec=3
User=rno-g

[Install]
WantedBy=multi-user.target
