[Unit]
Description=Mount SD
BindsTo=dev-mmcblk1p2.device
After=dev-mmcblk1p2.device

[Mount]
What=/dev/mmcblk1p2
Where=/mnt/sdcard
Type=auto
Options=defaults

[Install]
WantedBy=dev-mmcblk1p2.device
